// Loading component
.js-archive-list {

	a,
	a:focus,
	a:hover {
		text-decoration: none;
	}

	.loading {
		display: inline-block;
		padding-left: 5px;
		vertical-align: middle;
		width: 25px;
	}
}

.jal-hide {
	display: none;
}

.widget_jaw_widget ul.jaw_widget,
ul.jaw_widget ul,
body .wp-block-js-archive-list-archive-widget ul.jaw_widget,
body .wp-block-js-archive-list-archive-widget ul.jaw_widget ul,
body ul.jaw_widget {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.widget_jaw_widget ul.jaw_widget,
.wp-block-js-archive-list-archive-widget ul.jaw_widget,
.jaw_widget ul {

	li {
		padding-left: 1rem;
		list-style: none;

		&::before {
			content: "";
		}
	}
}

/** Bullet's padding **/
.jaw_symbol {
	margin-right: 0.5rem;
}

